@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Tiro+Kannada&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

html {
    scroll-behavior: smooth;
}

body p {
    font-weight: 300;
    color: #fff;
    padding-top: 15px;
}

body section {
    display: 100vh;
}

h1, h2, p {
    font-family: 'Tiro Kannada', serif;
}

/* header and menu */

header {
    height: 60px;
    background-color: #ebebeb;
    width: 100%;
    position: fixed;
}

#logo {
    text-transform: uppercase;
    color: #46494c;
    text-decoration: none;
    font-weight: 600;
    padding-top: .5rem;
    padding-left: 1rem;
    font-size: 150%;
}

#menu {
    padding-top: .5rem;
}

#menu li {
    list-style: none;
    display: inline-block;
    margin: 10px;
    float: right;
}

#menu li a {
    color: #46494c;
    text-decoration: none;
    font-size: 100%;
}

/* section design and sizing */

section {
    height: 100vh;
}

iframe {
    padding-top: 2rem;
}

#product {
    background-color: #6D6A75;
}

#gallery {
    background-color: #37323E;
}

#contact {
    background-color: #6D6A75;
}

#product, #contact {
    padding-top: 65px;
}

.container {
    display: block;
    width: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-third {
    width: 33%;
}

.col-half {
    width: 49%;
}

.col-4th {
    width: 25%;
}

.col-34th {
    width: 75%;
}

/* headings */

h2 {
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #fff;
    text-decoration: none;
    text-align: center;
}

/* contact form */

legend {
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    padding: .5rem;
}

.contact-header {
    text-transform: uppercase;
    color: #fff;
    padding: 1rem 1rem 0 1rem;
    display: inherit;
}

.contact-box {
    text-align: center;
}

.enquiry {
    width: 99%;
    border: 2px solid #3a3a3a;
}

input[type=text], input[type="email"], textarea {
    width: 75%;
    padding: .5rem;
    border: 1px solid #ebebeb;
    border-radius: 4px;
    margin-top: .5rem;
  }

  .enquire {
    width: 6rem;
    background-color: #BFBDC1;
    color: #ebebeb;
    padding: .5rem;
  }

  .submit-center {
    text-align: center;
    margin-top: .5rem;
  }

/* footer */

iframe {
    width: 100%;
    height: 20rem;
    margin-top: 3rem;
  }

footer {
    height: 90px;
}

.socials {
    text-align: center;
}

.socials i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #3a3a3a;
}

.socials > li {
    display: inline;
}

/* Gallery */

#gallery {
    clear: both;
    line-height: 0;
    column-count: 3;
    column-gap: 1px;
}

.gallery-image {
    max-width: 100%;
}

@media screen and (max-width: 600px) {
    .col-third {
        width: 33%;
    }

    .col-half {
        width: 50%;
    }

    .col-4th {
        width: 100%;
    }

}