@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Tiro+Kannada&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

html {
    scroll-behavior: smooth;
}

body p {
    font-weight: 300;
    color: #fff;
    padding-top: 15px;
}

body section {
    display: 100vh;
}

h1, h2, p {
    font-family: 'Tiro Kannada', serif;
}

/* header and menu */

header {
    height: 60px;
    background-color: #ebebeb;
    width: 100%;
    position: fixed;
}

#logo {
    text-transform: uppercase;
    color: #46494c;
    text-decoration: none;
    font-weight: 600;
    padding-top: 5px;
    padding-left: 20px;
}

#menu li {
    list-style: none;
    display: inline-block;
    margin: 10px;
    float: right;
}

#menu {
    font-size: 100%;
}

#menu li a {
    color: #46494c;
    text-decoration: none;
}

/* section design and sizing */

section {
    height: 100vh;
}

iframe {
    padding-top: 5px;
}

#product {
    background-color: #52489c;
}

#gallery {
    background-color: #4062bb;
}

#contact {
    background-color: #52489c;
}

#product, #contact {
    padding-top: 65px;
}

.container {
    display: block;
    width: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-third {
    width: 33%;
}

.col-half {
    width: 49%;
}

.col-4th {
    width: 25%;
}

.col-34th {
    width: 75%;
}

/* headings */

h2 {
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #fff;
    text-decoration: none;
    text-align: center;
}

/* footer */

footer {
    height: 90px;
}

.socials {
    text-align: center;
}

.socials i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #3a3a3a;
}

.socials > li {
    display: inline;
}

/* Gallery */

.gallery-image {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

@media screen and (max-width: 600px) {
    .col-third {
        width: 33%;
    }

    .col-half {
        width: 50%;
    }

    .col-4th {
        width: 100%;
    }

}