html {
    scroll-behavior: smooth;
}

body {
    font-family: sans-serif;
    font-weight: 300;
    color: #fff;
}

/* header and menu */

#menu li {
    list-style: none;
    display: inline-block;
    margin: 10px;
}

/* section design and sizing */

#home {
    background-color: #dcdcdd;
}

#product {
    background-color: #c5c3c6;
}

#gallery {
    background-color: #4c5c68;
}

#contact {
    background-color: #1985a1;
}

.container {
    display: block;
    width: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-third {
    width: 33%;
}

.col-half {
    width: 50%;
}

.col-4th {
    width: 25%;
}

.col-34th {
    width: 75%;
}
/* headings */



@media screen and (max-width: 600px) {
    .col-third {
        width: 33%;
    }

    .col-half {
        width: 50%;
    }

    .col-4th {
        width: 100%;
    }

}